@import url("bootstrap.min.css") print;
/*@import url("fonts/css/font-awesome.min.css") print;*/
@import url("animate.min.css") print;
@import url("custom.css") print;
@import url("calendar/fullcalendar.css") print;
@import url("calendar/fullcalendar.print.css") print;

#datatable th:last-child{
	display: none !important;
}

#datatable_donate th:last-child {
	display: none !important;
}

#datatable td:last-child {
	display: none !important;
}

#tblAssets td:last-child{
	display: none !important;
}
#tblAssets-audio td:last-child {
	display: none !important;
}
#tblAssets-audio td:nth-last-child(2) {
	display: none !important;
}

audio {
	display: none !important;
}

.td_audio {
	display: none !important;	
}

#tblAssets_donate td:last-child {
	display: none !important;
}

#datatable_donate tfoot td:last-child{
	display: none !important;
}
